@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-brand-900;
}

h1 {
  @apply text-4xl md:text-5xl;
}

h2 {
  @apply text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl md:text-3xl;
}

img {
  @apply max-w-full h-auto;
}

a {
  @apply text-brand-600 hover:text-brand-700 transition-colors;
}

button {
  @apply transition-colors;
}

audio {
  @apply w-full;
}
